name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: '0 16 * * *'

permissions:
  contents: read
  packages: write

jobs:
  golangci:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
      - name: unit tests
        run: go test -test.v -coverprofile=coverage.txt ./...
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  conformance:
    name: Conformance Tests
    needs: golangci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Build binaries
        run: make all

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push testing container image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.testing
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/sophons-testing:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Conformance tests
        run: ./bin/conformance -testing-image ghcr.io/${{ github.repository_owner }}/sophons-testing:${{ github.sha }}

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Build docs
        run: make docs
      - name: Check diff
        run: git diff --quiet
